body {
    background-image: url("pexels-viktoria-alipatova-2074130.jpg");
}
nav {
    height: 125px;
    position: relative;
}

h1 {
    position: absolute;
}


div {
    border-collapse: collapse;
    margin: 15px 0;
}

ul, li {
    border: 1px solid black;
    padding: 5px 10px;
}

section {
    height: 150px;
}

.font1 {
    font-size: xx-large;
    font-weight: bold;
}

.font2 {
    color: gray;
}

#coffees{
    margin-right: 10px;
    color: white;
}
.coffeeHeader{
    color: white;
}